<div id="portfolio-collection">

<div class="ninety-percent">
  <div id="individual-project">
    <div id="project-description">
      <h4 class="no-margin">GRAPHIC DESIGN</h4>
      <h3>Home Is Where The Heart Is</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="project-photos">
      <%= image_tag('homeposter.jpg', class: 'home-poster-image portfolio-photos') %>
      <%= image_tag('homeposter3.jpg', class: 'home-poster-image portfolio-photos') %>
      <%= image_tag('homeposter4.jpg', class: 'home-poster-image portfolio-photos') %>
    </div>
    <hr>
  </div>

  <div id="individual-project">
    <div id="project-description">
      <h4 class="no-margin">GRAPHIC DESIGN</h4>
      <h3>Voices In The Valley</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <div class="project-photos">
      <%= image_tag('tshirts.jpg', class: 'home-poster-image portfolio-photos') %>
    </div>
    <hr>
  </div>

</div>

</div>