<div class="welcome-page">
hello
this
is a
page
<h2>can you</h2>
<h1> see more</h1>
hello
this
is a
page
<h2>can you</h2>
<h1> see more</h1>
hello
this
is a
page
<h2>can you</h2>
<h1> see more</h1>
hello
this
is a
page
<h2>can you</h2>
<h1> see more</h1>
</div>