<div class="code-project">
	<h2>Three Things I Did</h2>

	<div class="about-project">
		<h4>ABOUT THE PROJECT:</h4> 
		<p>This was a three-person group project built with Express. We created a site which allows you to track the places you’ve visited in the world, as well as your three favourite things you did while there. Getting real exposure to long pair programming sessions while interacting with the Google Maps API was useful in writing more efficient code, and for creating and planning the most intuitive user experience possible. My main role was in implementing the use of Passport with Node and Express, while also contributing to the integration of the Google Maps API into our site, using services such as their geocoding, autocomplete for locations, and adding custom info windows to maps which displayed information from our backend.</p>
	</div>

	<div class="project-facts">
		<div class="fact">
			<h4>PROJECT LENGTH</h4> 
			<h1>4 days</h1>
		</div>
		<div class="fact">
			<h4>PROJECT LENGTH</h4> 
			<h1>4 days</h1>
		</div>
		<h4><li class="launch-site"><%= link_to("LAUNCH WEBSITE", "https://threethingsidid.herokuapp.com/") %></li></h4>
	</div>


	<h4>TOOLS & TECH USED:</h4> 
		<ul class="bullet-points">
			<div class="first-column inline-block">
				<li><p>Express</p></li>
				<li><p>Node.js</p></li>
			</div>
			<div class="second-column inline-block">
				<li><p>Passport</p></li>
				<li><p>AJAX</p></li> 
			</div>
			<div class="third-column inline-block">
				<li><p>JavaScript</p></li>
				<li><p>Google Maps API</p></li> 
			</div>
		</ul>

		<div class="portfolio-photos">
		  <%= image_tag("threethings.jpg", :class => "code-photo", :alt => "font-finder-screenshot") %>
		</div>

</div>