<div class="code-project">
  <h2>Before I Kick It</h2>

  <div class="about-project">
    <h4>ABOUT THE PROJECT:</h4> 
    <p>Being given full autonomy for my third project, I decided to create a site which allows users to store their bucket list items, and to upload photos of those moments once completed.</p> 
    <p>Built using Rails, I decided to implement a frontend framework through Backbone, in combination with Devise for my users and admin. This proved to be a challenging first real introduction to both, but I left the experience feeling like I’d become comfortable with managing a complicated Rails application and the associated technologies I had to use for my vision, including Underscore and CarrierWave.</p>
  </div>

  <div class="project-facts">
    <div class="fact">
      <a href="https://github.com/jenmah/bucket_list_app" class="button">
        <i class="fa fa-file-code-o fa-3x"></i>
        <h4>VIEW THE CODE</h4> 
      </a>
    </div>
    <div class="fact">
    <a href="http://localhost:3000/" class="button">
      <i class="fa fa-globe fa-3x"></i>
      <h4>LAUNCH THE SITE</h4> 
    </a>
    </div>
  </div>


  <h4>TOOLS & TECH USED:</h4> 
    <ul class="bullet-points">
      <div class="first-column inline-block">
        <li><p>Ruby On Rails</p></li>
        <li><p>Backbone</p></li>
      </div>
      <div class="second-column inline-block">
        <li><p>Underscore</p></li>
        <li><p>Mustache</p></li> 
      </div>
      <div class="third-column inline-block">
        <li><p>Devise</p></li>
        <li><p>JavaScript</p></li> 
      </div>
      <div class="third-column inline-block">
        <li><p>Ruby</p></li>
        <li><p>CarrierWave</p></li> 
      </div>
    </ul>

  <div class="portfolio-photos">
    <%= image_tag("bucketlist1.jpg", :class => "code-photo", :alt => "font-finder-screenshot") %>
  </div>

  <h4><li class="back-to-projects"><%= link_to("BACK TO PROJECTS", "http://www.jenmah.com/#section2") %></li></h4>

</div>