<div class="code-project">
  <h2>Font Finder</h2>

  <div class="about-project">
    <h4>ABOUT THE PROJECT:</h4> 
    <p>For my first full rails application, I wanted to combine my love of typography with the creation of a PostgreSQL database. I used models with join tables to create a site which documented the history of impactful fonts, while also suggesting solid font combinations for each font in the database.</p>
    <p>I felt like my main takeaway from this project was truly being able to experience the power of Rails. I was able to become comfortable navigating through my views, models, and controllers, while also playing around with creative embedded Ruby solutions for having each page display information through HTML tags with dynamically changing fonts.</p>
  </div>

  <div class="project-facts">
    <div class="fact">
      <h4>PROJECT LENGTH</h4> 
      <h1>4 days</h1>
    </div>
    <div class="fact">
      <h4>PROJECT LENGTH</h4> 
      <h1>4 days</h1>
    </div>
    <h4><li class="launch-site"><%= link_to("LAUNCH WEBSITE", "http://fontfinder.herokuapp.com/") %></li></h4>
  </div>


  <h4>TOOLS & TECH USED:</h4> 
    <ul class="bullet-points">
      <div class="first-column inline-block">
        <li><p>Ruby On Rails</p></li>
        <li><p>JavaScript</p></li>
      </div>
      <div class="second-column inline-block">
        <li><p>Google Fonts API</p></li>
        <li><p>Ransack Gem</p></li> 
      </div>
      <div class="third-column inline-block">
        <li><p>Ruby</p></li>
        <li><p>Google Maps API</p></li> 
      </div>
    </ul>


  <div class="portfolio-photos">
    <%= image_tag("fontfinder2.jpg", :class => "code-photo", :alt => "font-finder-screenshot") %>
    <%= image_tag("fontfinder1.jpg", :class => "code-photo", :alt => "font-finder-screenshot") %>
  </div>

</div>