#contact-me {
	text-align: center;
	margin-bottom: 15%;
	.say-hi {
		margin-right: 10%;
		width: 40%;
		display: inline-block;
			p {
				margin: 0;
			}
	}
	.check-out {
		width: 40%;
		display: inline-block;
		p {
			margin: 0;
		}
	}
}