#portfolio-collection {
	margin-bottom: 15%;
}

#project-description {
	display: inline-block;
	width: 25%;
	vertical-align: top;
}

.project-photos {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.portfolio-photos {
	width: 100%;
}