@media handheld, screen and (max-width: 700px) {
	#navigation-bar { 
		display: none; 
	}
	#dynamic-area {
		width: 100%;
	}
  #contact-me {
    margin-bottom: 35%;
  }
  #jennifer-mah {
    line-height: 90%;
  } 
  // #parallax-world-of-ugg .parallax-one {
  //   padding-top: 0%;
  // }
  // .image-wrapper {
  //   display: block;
  //   width: 100%;
  // }
}