html, body {
	width: 100%;
	// background-image: url('concrete.png');
}

#navigation-bar {
	box-shadow: 6px 0px 5px -5px rgba(200, 200, 200, 1), -6px 0px 5px -5px rgba(200, 200, 200, 1);
	background-color: white;
	height: 100%;
	position: fixed;
	left: 0;
	border-right: 1px solid rgba(210, 210, 210, 1);
	width: 17%;
	text-align: center;
	.logo {
		width: 50%;
	}
	li {
		text-decoration: none;
		list-style-type: none;
		text-align: center;
		padding-left:0;
		margin-left: 0;
		margin: 5% 0% 5% 0%;
		color: rgba(90, 90, 90, 1);
	}
	li:active {
		text-decoration: none;
		color: rgba(90, 90, 90, 1);
	} 
	ul {
		text-decoration: none;
		padding-left:0;
		margin-left: 0;
	}
	a:link{
		color: rgba(90, 90, 90, 1);
	  text-decoration: none;
	}
	a:visited{
	  color: rgba(90, 90, 90, 1);
	}
	a:hover{
	  // color: rgba(200, 200, 200, 1);
	}
	i {
	  margin-right: 4%;
	  color: rgba(90, 90, 90, 1);
	}
	i:hover {
		// color: rgba(200, 200, 200, 1);
	}
	.nav-links {
		margin-top: 35%;
		margin-bottom: 45%;
		text-align: center;
			h4 {
				font-size: 90%;
				margin-bottom: -2%;
			}
			h3 {
				font-size: 80%;
				margin-top: -2%;
			}
			.fa {
				margin: 0% 4% 0% 4%;
			}
			hr {
				display: inline-block;
				width: 15%;
			}
			#second-nav {
				margin-top: 40%;
				margin-bottom: 40%;
			}
	}
	.small-h3 {
		font-size: 13px;
		margin-top: -2.5%;
	}
}


.parallax-one {
	text-align: center;
	#jennifer-mah {
		font-size: 400%;
	}
	#job-title {
		font-size: 120%;
		margin-top: -0.5%;
	}
	h4 {
		text-align: center;
		color: white;
		margin: 0;
		// font-style: italic;
	}
	.fa-angle-double-down {
		color: white
	}
	#scroll-down {
		margin-top: 20%;
	}
}

.logo {
	width: 10%;
}

.jenmah-com {
	color: rgba(198, 172, 140, 1);
	margin-top: 4%;
}

.nav-buttons {
	background-color: transparent;
	border: none;
	outline: none;
}

// #first-nav:hover {
// 	background-color: red;
// 	color: rgba(200, 200, 200, 1);
// 	border: none;
// }

#first-nav:hover h4 {
	color: white;
}
