.work {
	margin-top: -2%;
}

.work-buttons {
	display: inline-block;
	border: 1px solid rgba(210, 210, 210, 1);
	text-align: center;
	margin-bottom: 3%;
	padding-bottom: 2%;
}

.work-box {
	border: 1px solid rgba(210, 210, 210, 1);
	text-align: center;
	margin-bottom: 3%;
	padding-bottom: 2%;
}

.work-one {
	// background-image: url(fontfinder2.jpg);
	background-size: cover;
}

.work-two {
	// background-image: url(fontfinder2.jpg);
	background-size: cover;
}

.work-three {
	// background-image: url(bucketlist1.jpg);
	background-size: cover;
}

.work-four {
	// background-image: url(lookbook4.jpg);
	background-size: cover;
}

.work-box-photo {
	width: 100%;
}



.image-wrapper { 
	position: relative; 
	width: 30%; 
	text-align: center;
	display: inline-block;
	margin: 0% 1% 1% 1%;
} 

.overlay { 
	position: absolute; 
	left: 10%;
	right: 10%; 
	top: 10%; 
	bottom: 10%;
	margin: auto;
	padding: 5% 5% 5% 5%; 
	background-color: rgba(255, 255, 255, 0.85);
	width: 70%; 
	height: 55%;
	color: white;
	h4 {
		color: rgba(130, 130, 130, 1);
		font-size: 85%;
	}
	h3 {
		color: rgba(130, 130, 130, 1);
		font-size: 80%;
	}
}