.work {
	margin-top: -2%;
}

.work-buttons {
	display: inline-block;
	border: 1px solid rgba(210, 210, 210, 1);
	text-align: center;
	margin-bottom: 3%;
	padding-bottom: 2%;
}

.work-box {
	border: 1px solid rgba(210, 210, 210, 1);
	text-align: center;
	margin-bottom: 3%;
	padding-bottom: 2%;
}

.work-one {
	// background-image: url(fontfinder2.jpg);
	background-size: cover;
}

.work-two {
	// background-image: url(fontfinder2.jpg);
	background-size: cover;
}

.work-three {
	// background-image: url(bucketlist1.jpg);
	background-size: cover;
}

.work-four {
	// background-image: url(lookbook4.jpg);
	background-size: cover;
}

.work-box-photo {
	width: 100%;
}